@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* common css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.home-body {
    background: #EEE;
    font-family: "Baumans";
}

ul {
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #053B50;
}

/* header */
.header-bg {
    background-color: #000;
    z-index: 999;
}

.contact-head {
    width: 15rem;
}

.logo-name {
    color: #fcfcfc;
    font-family: Baumans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.nav-item .nav-link.first {
    color: #ffffff;
    border-radius: 121px;
    border: 1px solid #ffffff;
    background: #053B50;
    box-shadow: 2px 4px 8px 0px rgba(5, 59, 80, 0.10);
}

.nav-item .nav-link.first:hover {
    color: #FFF;
    background: #053B50;
}


.nav-item .nav-link {
    color: #ffffff;
    font-family: Baumans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.nav-item{
    position: relative;
    display: inline-block;
}

.nav-item .nav-link:hover {
    color: #f28e08;
}

.user-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.login-text {
    color: #ffffff;
    font-family: Baumans;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.login-text:hover {
    color: #f28e08;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: #ffffff;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 5px 5px 20px 1px rgba(237, 230, 230, 0.367);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000 !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*banner*/
.banner {
    background: url("https://cdn.houseplansservices.com/banner/ltudt1g802hdh3rqiv8q92d6qs/stripped.jpg?v=2");
    background-repeat: no-repeat;
    background-size: cover;
}

/* form-filter componant*/
.form-filter-wrapeer {
    background: #d0d0d0e5;
    max-width: 280px;
    padding: 15px;
}

.form-filter-head {
    color: #021218;
}

.form-btn {
    width: 30px;
    height: 30px;
    color: #053B50;
    line-height: 1.2;
    border: 1px solid #053B50;
    border-radius: 50%;
    font-size: 12px;
    margin: 0 5px;
}

.form-btn:hover {
    background-color: #053B50;
    color: #ffffff;
}

.form-filter-input {
    max-width: 100px;
    height: 30px;
    color: #053B50;
    line-height: 1.2;
    border: 1px solid #053B50;
    border-radius: 50px;
    font-size: 16px;
    transition: all .5s ease;
    padding-left: 10px;
}

.form-filter-input:hover {
    border-radius: 5px;
}

.form-filter-input::placeholder {
    font-size: 12px;
    padding: 0px 25px 0px;
}

.form-filter-search {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #EEE;
    background-color: rgb(41, 41, 41);
}

.form-filter-search:hover {
    color: #EEE;
    background-color: #053B50;
    border-radius: 3px;
}


/* footer content*/
.footer-wrapper {
    background-image: url('https://images.alphacoders.com/435/thumbbig-435117.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer-wrapper::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: #000000bb;
    top: 0;
    left: 0;
}

.footer-logo-name {
    color: #EEE;
    font-family: Baumans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    z-index: 2;
}

.footer-logo svg {
    z-index: 2;
}

.footer-wrapper .container {
    padding: 100px 0;
}

.footer-wrapper .container .side-section {
    z-index: 2;
}

.footer-wrapper .footer-title {
    color: rgb(185, 184, 184);
    font-style: oblique;
}

.footer-wrapper .footer-item {
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: capitalize;
}

/* card collection*/
.collection-card {
    position: relative;
    height: 100%;
    z-index: 0;
}

img.collection-img {
   object-fit: cover;
   width: 100%;
   vertical-align: bottom ;
}

.collection-description {
    position: absolute;
    color: #fff;
    width: 50%;
    right: 5%;
    bottom: 7%;
    background-color: #000000c7;
    z-index: 3;
}

/* why choose */
.whyChoose_img{
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin:  0 auto;
}
.whyChoose_head{
    color: #021218;
}
.whyChoose_description{
    font-size: 14px;
}